{% extends "base.html" %}

{% block body %}
        <h1></h1>

        <form method=post>
            {{ form.hidden_tag() }}
            <p>
                {{ form.animalsubject.label }} <br>
                {{ form.animalsubject(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.animalsubject.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.animalcontent.label }} <br>
                {{ form.animalcontent(cols=64, rows=10) }}
                <!--List the errors for this field-->
                {% for error in form.animalcontent.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.animaltag.label }} <br>
                {{ form.animaltag(size=64) }}
                <!--List the errors for this field-->
                {% for error in form.animalsubject.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.animalapproval.label }}<br>
                {{ form.animalapproval() }}<br>
                {% for error in form.animalapproval.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{form.animalsubmit()}}
            </p>
        </form>
        
{% endblock %}